{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <div class="text-center" style="width:97%;background-color:#1b1b1b;margin:auto;">
        <div class="m-3 p-5">
            <h1 class="mb-1">Flask Market</h1>
            <h5 class="mb-4">Sign Up and start trading.</h5>
            <a type="button" class="btn btn-control btn-info" href="{{ url_for('market_page') }}">
                Get Started
            </a>
        </div>
    </div>
{% endblock %}